body {
  margin: 0px;
  font-family: "Segoe UI";
  background-image: url("../assets/images/new_background.jpg");
}

.row {
  margin-left: 100px;
  margin-right: 100px;
}

.column {
  margin-top: 50px;
}

p {
  content: "";
  margin: 3px;
  display: block;
}
