body {
  margin: 0px;
  font-family: "Segoe UI";
  background-image: url("../assets/mainpage/images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
