body{
  margin: 100px;
  background-color: gainsboro;
}

.policy p {
    margin-left: 50px;
    margin-right: 50px;
    color: black;
  }
  
.policy h2 {
    margin-top: 20px;
    color: black;
}

p {
  margin: 50px;
  font-size: 20px;
}