body {
  font-family: "Segoe UI";
  margin: 0;
  overflow: auto;
  background-image: url("../assets/backgrounds/1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.header #titulo{
  font-size: 80px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin: 20px;
}

.header a {
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 50px;
  text-align: center;
}

.header {
  width: 100%;
  min-height: 120px;
  position: relative;
  color: white;
}

.header #icons_bar {
  position: absolute;
  right: 0px;
  top: 30px;
  width: 200px;
}
