* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 20px;
}

.column img {
    cursor: pointer;
}

.column img:hover {
    border: 2px solid white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
}
