body {
  font-family: "Nunito", Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.header #titulo{
  font-size: 70px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin: 20px;
}

.header a {
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 50px;
  text-align: center;
}

.header {
  width: 100%;
  min-height: 120px;
  position: relative;
  color: white;
}

.header #icons_bar {
  position: absolute;
  right: 0px;
  top: 30px;
  width: 250px;
}

.policy {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 700px;
  background-color: white;
  border-radius: 30px;
}

.policy p {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.policy h2 {
  margin-top: 20px;
  color: black;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
}

.link {
  bottom: 0px;
  width: 100%;
  height: 55px;
  text-align: center;
  margin-bottom: 30px;
}

.icon {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 50px;
}

.about{
  position: absolute;
  top: 300px;
  left: 800px;
  background: white;
  color: black;
  width: 500px;
  height: 400px;
  border-radius: 20px;
}

.about h1 {
  color: black;
  font-size: 50px;
}

.about p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.what_does{
  margin-left: 200px;
  background: white;
  color: black;
  width: 500px;
  height: 800px;
  border-radius: 20px;
}

.what_does h1 {
  color: black;
  font-size: 50px;
}

.what_does p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 25px;
}

.what_does ul {
  list-style: circle;
  color: black;
}

.what_does li {
  display: block;
  float: left;
  clear: left;
  margin-left: 40px;
  font-size: 20px;
}

.screenshot_1 {
  position: absolute;
  top: 800px;
  left: 800px;
  width: 500px;
  height: 740px;
}
