* {
    box-sizing: border-box;
}

.column_card {
    float: left;
    width: auto;
    padding: 10px;
}

.column_card .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 175px;
    border-radius: 5px;
}


.column_card .card img {
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    width: 175px;
    height: 175px;
}

.column_card .card .text #t {
  display: none;
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
}

.column_card .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row_card:after {
    content: "";
    display: table;
    clear: both;
}
