* {
    box-sizing: border-box;
}

.column_card {
    float: left;
    width: auto;
    padding: 20px;
}

.column_card img {
    cursor: pointer;
}

.column_card img:hover {
    border: 2px solid white;
}

.row_card:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
}
