body {
  margin: 0px;
  font-family: "Segoe UI";
  background-image: url("../assets/images/new_background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

@font-face {
   font-family: caviar;
   src: url("../assets/fonts/CaviarDreams_Bold.ttf");
}

* {
   font-family: caviar;
}

.header {
    margin-left: 100px;
    margin-right: 100px;
    height: 200px;
    box-shadow: 5px 5px 5px grey;
}

#header_img {
  width: 100%;
  height: 200px;
}

.video {
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 300px;
  z-index: 1;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 5px;
  margin-left: 100px;
  margin-right: 100px;
}

.conteudo {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  opacity: 0.7;
  background-color: white;
  box-shadow: 5px 5px 5px gray;
}


.footer {
  bottom: auto;
  width: 100%;
  height: 55px;
  background-color: #990033;
  color: white;
  text-align: center;
  border-top-color: gray;
  border-top-style: solid;
}

.footer a {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
}

#HEADER {
  padding: 10px;
  width: auto;
  color: white;
  background-color: black;
}

#artigo {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

#artigo2 {
    padding: 1em;
    overflow: hidden;
    font-size: 30px;
    color: #333333;
}


article h1 {
  color: black;
  font-size: 30px;
}

article p {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
}

br {
  content: "";
  margin: 6em;
  display: block;
  font-size: 24%;
}
