ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #990033;
    box-shadow: 5px 5px 5px gray;
    margin-top: 305px;
    margin-left: 100px;
    margin-right: 100px;
}

li {
    float:  left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:  inherit;
}

li a:hover {
    color: #e2e2e2;
    border-bottom-color: #e2e2e2;
    border-bottom-style: solid;
}

.active {
    color: white;
    border-bottom-color: #e2e2e2;
    border-bottom-style: solid;
}
